<div style="padding: 0 3rem; overflow: hidden;">
    <div class="d-flex" style="height: auto; margin-top: 1rem; gap: 40px;"> 
        <div class="d-flex flex-column m-card" style="width: 75%; padding: 2rem 3rem;">
            <div class="d-flex flex-column" style="margin: auto 0;">
                <span style="font-family: 'CenturyGothic'; font-size: 1.3rem; font-weight: 600; line-height: .5em;"> Encuentre su tutoría </span>
                <span style="color: #0E24DC; font-family: 'BebasNeue'; font-size: 4rem;"> IDEAL, SEGURO Y DE CONFIANZA </span>
            </div>
        </div>
        <div class="d-flex flex-column m-card" style="width: 25%; background-color: #0E24DC; color: white; margin-left: auto;">
            <div class="d-flex flex-column" style="margin: auto;">
                <span style="font-family: 'BebasNeue'; font-size: 5rem; text-align: center; line-height: 1em;">  250h </span>
                <span style="font-family: 'BebasNeue'; font-size: 1.5rem; text-align: center; line-height: .7em;"> Horas Dictadas </span>
                <span style="font-family: 'CenturyGothic'; font-size: .9rem; font-weight: 600; text-align: center;"> Una clase requiere de 2h </span> 
            </div>
        </div>
    </div>

    <div class="d-flex m-card" style="height: 64px; margin-top: 2rem; padding: 1rem 1.5rem;"> 
        <mat-form-field appearance="fill" style="width: 20%;">
            <mat-label>Hora de Inicio</mat-label>
            <input type="text" matInput placeholder="Ex. 12:40">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 20%;">
            <mat-label>Hora de Fin</mat-label>
            <input type="text" matInput placeholder="Ex. 13:50">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 20%;">
            <mat-label>Ubicación (Distrito)</mat-label>
            <input type="text" matInput placeholder="Ex. Miraflores">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 20%;">
            <mat-label>Nivel Educativo</mat-label>
            <input type="text" matInput placeholder="Ex. 4° Primaria">
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 20%;">
            <mat-label>Grado Educativo</mat-label>
            <input type="text" matInput placeholder="Ex. Secundaria">
        </mat-form-field>
        
        <input type="submit" value="Buscar" class="act-button">
    </div>
</div>