<div class="main-div">
 <mat-card>
   <mat-card-header>
     <mat-card-title>Tutorship Information</mat-card-title>
   </mat-card-header>
   <mat-card-content *ngIf="tutorship">
     <div>
       <label><b>Topic: </b></label> {{tutorship.topic}}
     </div>
     <div>
       <label><b>Course: </b></label> {{tutorship.course.name}}
     </div>
     <div>
       <label><b>Date: </b></label> {{tutorship.startAt}}
     </div>
     <div>
       <label><b>Status: </b></label> {{tutorship.status}}
     </div>
   </mat-card-content>
 </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Student Information</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="tutorship">
      <div>
        <label><b>Full Name: </b></label> {{tutorship.student.lastName}}, {{tutorship.student.name}}
      </div>
      <div>
        <label><b>Email: </b></label> {{tutorship.student.email}}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-actions>
      <div rowOutlet>
        <button mat-raised-button type="button" color="primary" class="btn btn-primary" (click)="Back()">Back</button>
        <button mat-raised-button type="button" color="primary" class="btn btn-primary" (click)="ApplyTutorship()">Apply</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
